<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
   <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
   <link href = "/static/bootstrap/css/bootstrap.css" rel = "stylesheet" type = "text/css">
   <link href = "/static/fontawesome/css/all.css" rel = "stylesheet" type = "text/css">
   <link href = '/static/animate.min.css' type = 'text/css' rel = 'stylesheet'>
   <link href = "/static/mainlayout.css" type = "text/css" rel = "stylesheet">
   <link href = "/static/userpage.css" type = "text/css" rel = "stylesheet">


   <title>{{title}} - The Lawlist</title>
</head>
<body>
   <div class = 'container-fluid maindiv'>
      <div class = 'row justify-content-between topnav'>
         <nav>
            <img src="/static/images/logo2.png" class="logo">
               <ul>
                  <li><a href = "{{url_for('userpage')}}" >My Dashboard</a></li>
                  <li class="navmenu1"><a href = "#">Users</a>
                     <div class="menudiv">
                        <ul class="submenu1">
                           <li><a href="{{url_for('registered_users')}}">Registered Users</a></li>
                           <li><a href="{{url_for('all_jobs')}}">Job Posts</a></li>
                        </ul> 
                     </div>
                  </li>
                  <li class="navmenu2"><a href = "#">Reports</a>
                     <div class="menudiv">
                        <ul class="submenu2">
                           <li><a href="{{url_for('jobs_posted')}}">Inappropriate Job Posts</a></li>
                           <li><a href="{{url_for('post_job')}}">Inappropriate User Interactions</a></li>
                         </ul> 
                     </div>
                  </li>
                  <li class="navmenu3"><a href = "#">Transactions</a>
                     <div class="menudiv">
                        <ul class="submenu3">
                           <li><a href="#">Transactions</a></li>
                        </ul> 
                     </div>
                  </li>
               </ul>
            <i class="fa-regular fa-user user-icon text-dark" onclick="togglemenu()"></i>
            <div class="sub-menu-wrap"id="submenu">
               <div class="sub-menu">
                  <div class="user-info">
                     <i class="fa-regular fa-user user-icon text-dark"></i>
                     <h3>Admin</h3>
                  </div>
                  <hr>
                  <a href="#" class="sub-menu-link">
                     <p>Settings</p>
                     <span>></span>
                  </a>
                  <a href="#" class="sub-menu-link">
                     <p>Help</p>
                     <span>></span>
                  </a>
                  <a href="{{url_for('log_out')}}" class="sub-menu-link">
                     <p>Logout</p>
                     <span>></span>
                  </a>
               </div>
            </div>
         </nav>
         </div>
      {% block content %}
         
      {% endblock %}
      <footer class="footer mt-5">
      <div class="row justify-content-center p-3">
            <div class="col-md-3 p-5">
               <ul class="footer-list">
                  <li class="mb-2"><a href="#" target="_self" class="footer-list-link">About Us</a></li>
                  <li class="mb-2"><a href="#" target="_self" class="up-footer-list-link">Feedback</a></li>
                  <li class="mb-2"><a href="#" target="_self" class="footer-list-link">Community</a></li>
               </ul>
            </div>
            <div class="col-md-3 p-5">
               <ul class="footer-list">
                  <li class="mb-2"><a href="#" target="_self" class="footer-list-link">Terms of Service</a></li>
                  <li class="mb-2"><a href="#" target="_self" class="footer-list-link">Privacy Policy</a></li>
                  <li class="mb-2"><a href="#" target="_self" class="footer-list-link">Help &amp; Support</a></li>
               </ul>
            </div>
            <div class="col-md-3 p-5">
               <ul class="footer-list">
                  <li class="mb-2"><a href="#" target="_self" class="footer-list-link">Accessibility</a></li>
                  <li class="mb-2"><a href="#" target="_self" class="footer-list-link">Cookie Policy</a></li>
                  <li class="mb-2"><a href="#" target="_self" class="footer-list-link">Cookie Settings</a></li>
               </ul>
            </div>
            <hr>
            <div class="col-md-12 text-center mt-3">
               © 2022 The Lawlist.®
            </div>
         </div>
         </footer>
   </div> 
   

<script src = "/static/jquery.min.js"></script>
<script src = "/static/bootstrap/js/bootstrap.bundle.js"></script>
{% block js %}
{% endblock %}
<script type = 'text/javascript'>
   let submenu = document.getElementById("submenu");

   function togglemenu(){
      submenu.classList.toggle("open-menu");
   }

   $("document").ready(
      function(){
         $(".navmenu1").hover(
            function(){
               $(".submenu1").addClass("open-menu")
            }, function(){
               $(".submenu1").removeClass("open-menu")
         });

         $(".navmenu2").hover(
            function(){
               $(".submenu2").addClass("open-menu")
            }, function(){
               $(".submenu2").removeClass("open-menu")
         });

         
         $(".navmenu3").hover(
            function(){
               $(".submenu3").addClass("open-menu")
            }, function(){
            $(".submenu3").removeClass("open-menu")
         });
        
      }
      

   )
</script>

</body>
</html>